<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Chart of Reading</h1>
</div>
    
<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="GetDataSet()" 
        [labels]="GetLabels()" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>

<br> <br>
<div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Building ID</th>
                <th>Object ID</th>
                <th>Datafield ID</th>
                <th>Value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tr *ngFor="let read of service.list">
            <td >{{read.buildingId}}</td>
            <td >{{read.dataFieldId}}</td>
            <td >{{read.objectId}}</td>
            <td >{{read.value}}</td>
            <td >{{read.timestamp}}</td>
        </tr>
    </table>
</div>

<!-- <ngx-select-dropdown></ngx-select-dropdown> -->
