<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Chart of Reading</h1>
</div>
    
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="row col-md-3">
                    <label>Building:</label>
                    <ngx-select-dropdown [config]="config" [(ngModel)]="buildingSelect" 
                    class="col-md-8" [options]="options"></ngx-select-dropdown>
                </div>
                <div class="row col-md-3">
                    <label>Object:</label>
                    <ngx-select-dropdown class="col-md-8"></ngx-select-dropdown>
                </div>
                <div class="row col-md-3">
                    <label>Datafield:</label>
                    <ngx-select-dropdown class="col-md-8"></ngx-select-dropdown>
                </div>
                <div class="row col-md-3">
                    <label>Datarange:</label>
                    <input type="text" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" class="form-control col-md-8"/>
                </div>
                <div class="col-md-1">
                    <input class="btn btn-primary" (click)="filterData()"  type="button" value="Search"/>
                </div>
            </div>
        </div>
      </div>
    <br> <br>

    <div class="card">
        <div class="card-body">
            <div class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="GetDataSet()" 
                    [labels]="GetLabels()" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
      </div>


<br> <br>
<!-- <div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Building ID</th>
                <th>Object ID</th>
                <th>Datafield ID</th>
                <th>Value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tr *ngFor="let read of service.list">
            <td >{{read.buildingId}}</td>
            <td >{{read.dataFieldId}}</td>
            <td >{{read.objectId}}</td>
            <td >{{read.value}}</td>
            <td >{{read.timestamp}}</td>
        </tr>
    </table>
</div> -->

